<div class="title-bar">
  <div class="aux-margin">
    <div class="title"><p class="centered-line">成绩查询</p></div>
    <div class="flex flex-row flex-wrap">
      <strong>登录</strong>
      <div class="flex-grow">
        <div class="flex flex-row items-center">
          <div class="flex-grow flex flex-row flex-wrap">
            <input
              type="text"
              placeholder="学号"
              class="flex-grow font-mono input input-xs ml-2 mb-2"
              [(ngModel)]="auth.username"
            />
            <input
              type="password"
              placeholder="密码"
              class="flex-grow font-mono input input-xs ml-2 mb-2"
              [(ngModel)]="auth.password"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
