<div class="footer">
  <p>
    绩点公式
    <a (click)="showCalculator()" style="font-family: 'Times New Roman', Georgia, serif;">
      GPA(<i>x</i>) = 4 - 3 × (100 - <i>x</i>)<sup>2</sup> ÷ 1600
    </a>
  </p>
  <br />
  <p>学期 GPA 和总 GPA 为公式计算所得，请以学校官方结果为准！</p>
  <p>
    基于
    <a href="https://www.gnu.org/licenses/gpl-3.0.zh-cn.html" target="_blank"
      >GPLv3</a
    >
    协议在
    <a href="https://github.com/Guyutongxue/pkuhelper-web-score" target="_blank"
      >GitHub</a
    >
    开源
  </p>
</div>
