.layout-vertical {
  transition: opacity .15s ease-out;
}
.layout-vertical-down, .layout-vertical-extra {
  font-size: 60%;
}
.layout-vertical-extra {
  transition: max-height .15s ease-out;
}
.layout-vertical-extra-hide {
  max-height: 0;
  overflow-y: hidden;
}
.layout-vertical-extra-show {
  max-height: 7em;
  overflow-y: auto;
}

.score-hide {
  opacity: 0;
}

.score-tamperer {
  background-color: transparent;
  border: 0;
  font-family: unset;
  text-align: center;
  width: 2.5em;
  font-size: unset;
  text-shadow: 0 0 3px white;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.score-tamperer:not(:focus) {
  cursor: pointer;
}
