<div class="course-row" [ngClass]="{ 'row-tampered': tampered }">
  <app-row-layout [background]="makeScoreGradient(score, judgeByGpa$ | async)" [rainbow]="!tampered && isFull(score)">
    <app-vertical-layout left [up]="fix(credit, 1)" down="学分">
    </app-vertical-layout>

    <!-- {
                 tampered ?
                 <span className="prevent-click-handler course-badge course-badge-danger" onClick={props.untamper} data-tooltip="Unranked">
                     <span className="icon icon-warning" />
                 </span> :
                 <span className="prevent-click-handler course-badge course-badge-primary" onClick={do_course_survey} data-tooltip="测评该课程">
                     <span className="icon icon-share" />
                 </span>
             } -->
    <app-vertical-layout
      middle
      [up]="name"
      [down]="details"
      [extra]="extras"
      [needHideText]="true"
    >
      <span *ngIf="tampered; else pinzhi"
        class="prevent-click-handler course-badge course-badge-danger"
        (click)="untamper()"
        data-tooltip="非真实成绩"
      >
        <span class="icon icon-warning"></span>
      </span>
      <ng-template #pinzhi>
        <span
          class="prevent-click-handler course-badge course-badge-primary"
          (click)="gotoPinzhi()"
          data-tooltip="测评该课程">
          <span class="icon icon-share"></span>
        </span>
      </ng-template>
    </app-vertical-layout>

    <app-vertical-layout
      right
      [up]="fix(score, 1)"
      [down]="gpa?.toFixed(2) ?? describe(score)"
      [needHideText]="gpa !== null || score < 60"
      [editable]="true"
      (change)="tamper($event)"
    >
    </app-vertical-layout>
  </app-row-layout>
</div>
