<app-header></app-header>
<div class="container">
  <app-controller></app-controller>
  <app-osu-button
    *ngIf="!(hasData | async); else viewer"
    [buttonText]="
      auth.loading
        ? '...'
        : !(auth.username && auth.password)
        ? '请先登录'
        : '查询'
    "
    text="点击按钮查询成绩"
    (click)="auth.load()"
    [disabled]="auth.loading || !(auth.username && auth.password)"
  >
  </app-osu-button>
  <ng-template #viewer>
    <app-viewer></app-viewer>
  </ng-template>
  <app-footer (showEula)="eulaAcceptance = false"></app-footer>
</div>
<!-- 用户须知 -->
<input
  type="checkbox"
  id="eulaModal"
  class="modal-toggle"
  [checked]="!eulaAcceptance"
/>
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg mb-3">用户须知</h3>
    <div class="h-[350px] overflow-auto">
      <p class="mb-2 font-bold">
        请仔细阅读以下内容。点击本弹窗的“继续”按钮或使用本网站的任何功能即视为您同意以下条款。
      </p>
      <p class="mb-2">
        本网站是北大树洞（原北大地带，PKUHelper）成绩查询页面的重新实现。本网站将使用北京大学统一认证以获取您的成绩信息。
        <strong>本网站承诺不会收集您的任何认证凭证</strong
        >，包括您的北京大学学号和北京大学门户密码。
      </p>
      <p class="mb-2">
        您的北京大学学号、北京大学门户密码仅将发送给北京大学统一认证服务器（<code>iaaa.pku.edu.cn</code>）。本网站将利用该服务器返回的令牌、北京大学门户（<code>portal.pku.edu.cn</code>）返回的令牌以获取您的成绩信息。此功能使用
        Vercel Serverless Function
        部署，并与本项目一同开源；如果您不信任我们的承诺，您可以选择关闭本网页。
      </p>
      <p class="mb-2">
        您的北京大学学号将仅存储在浏览器端的本地存储（Local
        Storage）。此外，本网站不会以任何方式存储您的北京大学门户密码。本网站不会将您的上述凭证发送到任何除上述服务器外的其他服务器。
      </p>
    </div>
    <div class="modal-action">
      <button class="btn btn-ghost" (click)="declineEula()">拒绝</button>
      <button class="btn" (click)="acceptEula()">继续</button>
    </div>
  </div>
</div>
