.title-bar {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  padding-bottom: 0.5em;

  .title {
    font-size: 1.5em;
    padding: 1rem 0;
    text-align: center;
  }
  .centered-line {
    overflow: hidden;
    text-align: center;
  }
  .centered-line::before, .centered-line::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .centered-line::before {
    right: 1em;
    margin-left: -50%;
  }
  .centered-line::after {
    left: 1em;
    margin-right: -50%;
  }
}


.aux-margin {
  width: calc(100% - 2 * 50px);
  margin: 0 50px;
}
@media screen and (max-width: 1300px) {
  .aux-margin {
      width: calc(100% - 2 * 10px);
      margin: 0 10px;
  }
}

.container {
  max-width: 800px;
  margin: auto;
  color: white;
}
