.layout-row {
    display: flex;
    padding-top: .25em;
    padding-bottom: .25em;
    color: black;
    text-shadow: 0 0 3px white;
}
.layout-row>* {
    z-index: 5;
}

.layout-row-left {
    flex: 0 0 2.5em;
    text-align: center;
}
.layout-row-middle {
    flex: 1 1;
}
.layout-row-right {
    flex: 0 0 2.5em;
    text-align: center;
}

.layout-vertical {
    transition: opacity .15s ease-out;
}
.layout-vertical-down, .layout-vertical-extra {
    font-size: 60%;
}
.layout-vertical-extra {
    transition: max-height .15s ease-out;
}
.layout-vertical-extra-hide {
    max-height: 0;
    overflow-y: hidden;
}
.layout-vertical-extra-show {
    max-height: 7em;
    overflow-y: auto;
}

.score-hide {
    opacity: 0;
}

