.semester-block {
    margin-top: 2em;
    animation: fade-in .15s ease-out 1;
}

@keyframes fade-in {
    from {opacity: 0;}
    20% {opacity: 0;}
    to {opacity: 1;}
}

.semester-block>*:first-child {
    box-shadow: 0 0 10px rgba(0,0,0,.8);

    z-index: 10;
    position: sticky;
    top: 0;
}
.semester-block>*:not(:first-child) {
    margin-left: 1em;
    margin-right: 1em;
}
