<div class="semester-block">
  <div [ngClass]="{ 'row-tampered': tampered }">
    <app-row-layout [background]="colorizeSemester(score, judgeByGpa$ | async)">
      <app-vertical-layout left [up]="fix(credit, 1)" down="学分">
      </app-vertical-layout>
      <app-vertical-layout
        middle
        [up]="name"
        down="共 {{ courseList.length }} 门课程"
      >
      </app-vertical-layout>
      <app-vertical-layout
        right
        [up]="gpa?.toFixed(2) ?? '-.--'"
        [down]="fix(score, 1)"
        [needHideText]="true"
      >
      </app-vertical-layout>
    </app-row-layout>
  </div>
  <app-course-viewer *ngFor="let course of courseList" [index]="course">
  </app-course-viewer>
</div>
