.semester-block {
    margin-top: 2em;
}
.semester-block>*:first-child {
    box-shadow: 0 0 10px black;

    z-index: 10;
    position: sticky;
    top: 0;
}
.semester-block>*:not(:first-child) {
    margin-left: 1em;
    margin-right: 1em;
}

.read-all-button {
    height: 1.65em;
    width: 4em;
    font-size: 1em;
    margin: .25em .5em;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: .25em;
    cursor: pointer;
    outline: none !important;
}
.read-all-button:hover {
    background-color: black;
    color: white;
}