body {
  background-color: #333333;
  color: white;
}

body, pre, textarea {
  font-family: "Segoe UI", 微软雅黑, "Microsoft YaHei", sans-serif;
}

a {
  color: #00c;
  text-decoration: none;
  cursor: pointer;
}

@media print {
  body {
    background-color: white !important;
  }

  .print-hide {
    display: none;
  }

  .footer * {
    color: black !important;
  }

  .semester-block > *:first-child {
    position: relative;
    box-shadow: unset;
    border: 1px solid #7f7f7f;
  }

  .course-row {
    page-break-inside: avoid;
  }
}
